.heading-page {
    padding-top: 70px;

}

.page-heading {
    margin: 0px 0px;
    padding: 120px 0px;
    text-align: left;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    height: 380px;
    width: 100%;
    /* background-color: red; */
    /* background-image: url(./img/images/BSMRH3.jpg); */
}

.page-heading .text-content h4 {
    color: #f48840;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

.page-heading .text-content h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}